body{
	background-image: url(1.JPG);
	background-position: center center;
	background-repeat: cover;
	background-attachment: fixed;

}
 
.china{
	background-color:#00ff7f;
}

.franki{
background-color:#7fffd4;

}
